@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";


:root {
  --background: #F6F8FA;
  --foreground: #111827;
  --primary: #0E7C7B;
  --secondary: #1F2933;
  --accent: #A3E635;
  --text-light: #FFFFFF;
  --muted: #f4f4f4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --font-poppins: 'Poppins', sans-serif;

  --spacing-btn-px: 1.5rem;
  --spacing-btn-py: 0.75rem;
  --radius-btn: 0.75rem;
}

@layer utilities {
  .btn {
    padding: var(--spacing-btn-py) var(--spacing-btn-px);
    border-radius: var(--radius-btn);
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .btn-blue {
    background-color: var(--primary);
    color: white;
  }

  .btn-blue:hover {
    background-color: color-mix(in srgb, var(--primary), transparent 10%);
    transform: scale(1.05);
  }

  .btn-blue:active {
    transform: scale(0.95);
  }

  .btn-orange {
    background-color: var(--secondary);
    color: white;
  }

  .btn-orange:hover {
    background-color: color-mix(in srgb, var(--secondary), transparent 10%);
    transform: scale(1.05);
  }

  .btn-orange:active {
    transform: scale(0.95);
  }

  @keyframes float {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-15px);
    }
  }

  .animate-float {
    animation: float 4s ease-in-out infinite;
  }
}





body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}